* {
  box-sizing: border-box;
}

#container {
  background-image: url("./Naruto.jpeg");
  width: 400px;
  height: 300px;
  background-size: cover;
  position: relative;
}

#selectableArea {
  position: absolute;
  pointer-events: none;
}

.dragging {
  border: 2px dashed #000;
}
